<!-- 
wrapped within

<div entry-list="*EntryList" class='row entry-container' ng-repeat="e in *EntryList"></div>
-->

<div class='col-md-2 entry-accept-reject-buttons'>
	<button ng-show="entryList!='entryList'" ng-click="acceptEntry(entryList, e)" class='btn btn-success btn-xs'>ACCEPT</button>
	<button ng-show="entryList!='rejectEntryList'" ng-click="rejectEntry(entryList, e)" class='btn btn-danger btn-xs'>REJECT</button>
</div>
<div class='col-md-6 entry-pic'>
	<opp-widget opp='opp' entry='e'></opp-widget>
</div>
<div class='col-md-4 entry-metadata'>
	<p class='screen_name'>@{{e.screen_name}}</p>
	<p class='tweet-text'>{{e.tweet_text}}</p>
	<p class='created-at'>
		{{e.created_at | date:'MM/dd/yyyy @ h:mma'}}
	</p>
	<p>Retweets: {{e.retweet_count}}</p>
	<p><strong>From Slide Show</strong></p>
	<p>Twitter Shares: {{e.stat_twitter_count || 0}}</p>
	<p>Facebook Shares: {{e.stat_fb_count || 0}}</p>
	<p>Email Shares: {{e.stat_email_count || 0}}</p>
</div>

