/*

#3cf;

*/
#header, #index-partial, #update-partial{
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
input.error {
	border: 3px solid red;
}

#header {
	margin-bottom: 50px;
	/* needs to take up space with elements that float inside */
	float: left;
	width: 100%;
}
#header nav {
	max-width: 900px;
	margin: auto;
	padding: 5px;
}
#header nav img.brand {
	height: 30px;
	margin-top: 5px;
	cursor: pointer;
}
#header nav a{
	color: #3cf;
	font-weight: bold;
	font-size: 18px;
}
#header nav .user {
	padding: 13px 0px;
	color: gray;
}


#index-partial {
	padding: 50px;
	min-height: 500px;
}
.opp-list-container {
}
.opp-and-embed-container {
	margin: 20px;
}
.opp-container {
	text-align: center;
}

/********* new partial ***********/
#new-partial {
}
#new-partial .title {
	display: inline;
	margin: 0 30px;
}

/********* new partial above ***********/

footer {
	margin-top: 30px;
	border-top: 3px solid lavender;
	text-align: center;
	background-color: aliceblue;
	padding: 20px;
}

/******* opp-partial **********/
#opp-partial .huffpostlabs-opp {
}

/******* update-partial *******/

#update-partial .page-header small {
	float: right;
	margin-top: 10px;
}

.nav-tabs.widget {
	border-color: gray;
}
.nav-tabs.widget>li.active>a,
.nav-tabs.widget>li.active>a:hover,
.nav-tabs.widget>li.active>a:focus {
	border: 3px solid gray;
	border-bottom-color: transparent;
}
.nav-tabs.accepted {
	border-color: green;
}
.nav-tabs.accepted>li.active>a,
.nav-tabs.accepted>li.active>a:hover,
.nav-tabs.accepted>li.active>a:focus {
	border: 3px solid green;
	border-bottom-color: transparent;
}
.nav-tabs.pending-twitter {
	border-color: lightblue;
}
.nav-tabs.pending-twitter>li.active>a,
.nav-tabs.pending-twitter>li.active>a:hover,
.nav-tabs.pending-twitter>li.active>a:focus {
	border: 3px solid lightblue;
	border-bottom-color: transparent;
}
.nav-tabs.pending-instagram {
	border-color: lavender;
}
.nav-tabs.pending-instagram>li.active>a,
.nav-tabs.pending-instagram>li.active>a:hover,
.nav-tabs.pending-instagram>li.active>a:focus {
	border: 3px solid lavender;
	border-bottom-color: transparent;
}
.nav-tabs.rejected {
	border-color: red;
}
.nav-tabs.rejected>li.active>a,
.nav-tabs.rejected>li.active>a:hover,
.nav-tabs.rejected>li.active>a:focus {
	border: 3px solid red;
	border-bottom-color: transparent;
}


.tab-control .data-tab{
	font-size: 20px;
	color: gray;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.data-tab {
	cursor: pointer;
	opacity: 0.5;
}
.data-tab.active {
	opacity: 1;
}
.tab-control .data-tab a{
	margin: 0; /*override bootstrap*/
}

.tab-content {
	border: 4px solid gray;
	border-top: none;
	padding: 20px;
}
.tab-content.accepted-entries {
	border-color: green;
}
.tab-content.rejected-entries {
	border-color: red;
}
.tab-content.pending-entries-twitter {
	border-color: lightblue;
}
.tab-content.pending-entries-instagram {
	border-color: lavender;
}
.entry-container {
	padding: 30px;
}

.entry-accept-reject-buttons .btn {
	display: block;
	background-color: white;
	margin: 10px;
}
.entry-accept-reject-buttons .accept-btn {
	color: green;
}
.entry-accept-reject-buttons .reject-btn {
	color: red;
}
.entry-pic {
	min-height: 300px;
}
.entry-pic img {
	max-width: 500px;
	margin: auto;
	display: block;
}
.entry-metadata {
}
.entry-metadata p{
	margin: 0 0 3px;
}
.entry-metadata p.tweet-text {
	font-weight: bold;
	font-size: 16px;
}
#update-partial form {
	max-width: 400px;
	margin: 10px auto;

}
#update-partial form p{
	color: gray;
}
#update-partial form input{
	width: 80%;
}

#update-partial .showing-entries {
	text-align: center;
	padding: 15px;
}

/* ----- error.html -------------- */
#error-partial h3{
	text-align: center;
}




