<!DOCTYPE html>
<html lang="en" ng-app="OPPapp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>HuffpostLabs presents Other People's Photos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="User Generated Stream: Create a slide show with OTHER PEOPLE'S PHOTOS.">
    <meta name="author" content="Alex Berke at Huffpost Labs">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- stylesheets -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">


    <!-- javascript -->
<!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
 -->

     <script src="/vendor/jquery.min.js"></script>
    
    <!-- angular 1.2 has route as its own module -->
<!--     
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
     -->
     
     <script src="/vendor/angular/angular.min.js"></script>
     <script src="/vendor/angular/angular-route.min.js"></script>


    <script src="/js/app.js"></script>
	<script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/factories.js"></script>
    <script src="/js/routes.js"></script>
    <!-- directives -->
    <script src="/directives/start-date-selection.js"></script>
    <script src="/directives/owner-only-element.js"></script>
    <script src="/directives/widget-directive.js"></script>
    <script src="/directives/entry-container.js"></script>

</head>
<body ng-controller="MainCntl">

    <!-- header -->
    <ng-include src="'/html/partials/header.html'"></ng-include>


    <div ng-controller='NewCntl' id='new-partial' ng-show="showNew" class='container'>
        
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 class='title'>New Campaign</h1>

                <label>Name</label>
                <input ng-model='opp.title' type='text' placeholder='#'>

                <label>Started</label>
                <start-date-selection edit="true" opp='opp'></start-date-selection>

                <!-- <input ng-class='{error:error.start}' ng-model='opp.start' type='text' placeholder='MM/DD/YY'> -->

                <button ng-disabled='!(opp.title&&opp.start)' ng-click='create(opp)' class='btn btn-sm btn-default'>CREATE</button>
            </div>
        </div>
    </div>
    
    <!-- <div ng-include class='widget-container' src="'/widget/widget.html'"></div> -->

    <!-- main view -- decided by routes.js -->
    <div id='view' ng-view></div>

    <footer>
        <img src='/img/800x150.jpg'></img>
    </footer>
<!-- 
    <script src="/vendor/bootstrap/js/tooltip.js"></script>
    <script src="/vendor/bootstrap/js/popover.js"></script>
     -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
