

<div class='container' id='index-partial'>

	<div class='product-info well'>
		<p>Please send feedback, ideas, and bugs to <a href="mailto:alexandra.berke@huffingtonpost.com?subject=[OPP]">alexandra.berke@huffingtonpost.com</a> - This is brand new and all feedback is greatly appreciated!</p>

		<h2>About</h2>
		<p>tldr; Create mobile-friendly slideshow and polls, recieve embed code, embed widget on your page.</p>

		<p>Slideshows swipe from one slide to the next in sequence, while a swipe on a poll is a tinderesque gesture that signifies either an upvote (swipe-left), or a downvote (swipe-right).</p>

		<p>The editor can either pull slides for the slideshow/poll from a #campaign on twitter or instagram, or they can make custom slides. </p>

		<p>What distinguishes this from the current slideshows is that there's the option for anyone to submit their own content via a post to twitter/instagram with your slideshow/poll's #title.  Also, it performs nicely on mobile.</p>

		<p>The sales team is currently using this product for selling sponsored content.  For example, PetSmart is running a campaigin #inspiredbypets and wants a slideshow with the best submissions.</p>

		<p>I'm seeking feedback for:
			<ul>
				<li>How this should share to twitter and facebook</li>
				<li>What this widget should look like</li>
				<li>What copy (text) would make the widget's function clearest to your readers</li>
				<li>Any other insights!</li>
			</ul>
		</p>
	</div>
	<br/>

	<h2>
		<span ng-if="!user">All</span>
		<div ng-if="user" class="btn-group">
			<button ng-click="showUserOPP()" ng-class="{'active':!showAll}" class="btn btn-default">{{user.twitter_screen_name}}</button>
			<button ng-click="showAllOPP()" ng-class="{'active':showAll}" class="btn btn-default">All</button>
		</div> 
	Slideshows and Polls</h2>
	<hr />

	<div class='opp-list-container'>
		<!-- TODO - be more angular and write a filter instead of this ng-show -->
		<div ng-show="!user||showAll||o._user==user.id" class='row opp-and-embed-container' ng-repeat="o in OPPlist | orderBy:'date_created':true" >
			<div class='col-sm-8 opp-container'>
				<div class="huffpostlabs-opp" id="{{o.id}}"></div>
			</div>

			<div class='col-sm-4'>
			<ul class="nav nav-pills nav-stacked">
				<li>
					<span>{{o.widget_type}}</span>
				</li>
				<li>
					<span ng-if="o._user">Owner: {{o._user_name}}</span>
					<a ng-click="claimOPP(o)" ng-if="user.id&&!o._user" href="">Claim Ownership</a>
				</li>
				<li>
					<a ng-href="/opp/{{o.id}}">View Page</a>
				</li>
				<li>
					<a owner-only-element opp='o' user='user' ng-href="/update/via-{{o.via}}/{{o.id}}">Update</a>
				</li>
				<li>
					<a ng-show="!o.showEmbed" ng-click="o.showEmbed=true" href="">Embed in HTML</a>
					<a ng-show="o.showEmbed" ng-click="o.showEmbed=false" href="">Hide Embed Code</a>

					<pre class="embed-code" ng-show="o.showEmbed">&lt;div class="huffpostlabs-opp" id="{{o.id}}"&gt;&lt;/div&gt;&lt;script src="http://opp.huffingtonpost.com/widget/o.js"&gt;&lt;/script&gt;&lt;p id="labs-credit"&gt;&lt;a href="http://code.huffingtonpost.com"&gt;Product by &lt;img height="23px" src="http://quiz.huffingtonpost.com/img/huffpostLABS_outline.png" /&gt;&lt;/a&gt;&lt;/p&gt;</pre>
				</li>

				<li owner-only-element opp='o' user='user' class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="">
					More <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="relinquishOPP(o)">Relinquish Ownership</a></li>
						<li><a href="" ng-click="deleteOPP(o)">Delete</a></li>
					</ul>
				</li>

			</ul>
			</div>

		</div>
	</div>


</div>