
<div class='container' id='opp-partial'>

	<div class="huffpostlabs-opp" id="{{opp.id}}"></div>
	<script src="/widget/o.js"></script>

	<div class='embed-container'>
		<p><strong>Embed Code</strong></p>
		<pre class="embed-code">&lt;div class="huffpostlabs-opp" id="{{opp.id}}"&gt;&lt;/div&gt;&lt;script src="http://opp.huffingtonpost.com/widget/o.js"&gt;&lt;/script&gt;&lt;p id="labs-credit"&gt;&lt;a href="http://code.huffingtonpost.com"&gt;Product by &lt;img height="23px" src="http://opp.huffingtonpost.com/widget/icon/brand.png" /&gt;&lt;/a&gt;&lt;/p&gt;</pre>
	</div>
</div>