
<link href="/widget/widget.css" rel="stylesheet">
<div class='container' id='update-partial'>

	<div class='info-container'>
		<div class="page-header">
			<h1>
				<span ng-show="opp.via=='social'">#</span>{{opp.title}} 
				<small ng-show="opp.via=='social'">
					<span class='started'>
						Started 
						<start-date-selection edit="editStart" opp='opp'></start-date-selection>

						<button ng-click="editStart=true" ng-show="!editStart" class='btn-xs btn btn-default'>edit</button>
						<button ng-click="saveOPP();editStart=false" ng-show="editStart" class='btn-xs btn btn-default'>save</button>
					</span>
					<span class='showing-entries'>
						Showing {{entryList.length + pendingEntryList.length + rejectEntryList.length}} Entries 
						<button ng-click="loadMoreEntries()" ng-show="moreEntries!=false&&!loadingMoreEntries" class='btn btn-sm btn-default'>+</button>
						<img ng-show="loadingMoreEntries" class="loading-gif" src="/img/loading.gif">
					</span>
				</small>
			</h1>
		</div>
	</div>

	<ul ng-class="(showTab||'widget')" class="nav nav-tabs tab-control">
		
		<!-- for via=='editor' -->
		<li ng-show="opp.via=='editor'" class='data-tab slides-tab' ng-class="{'active':showTab=='slides'}" ng-click="showTab='slides'">
			<a>Slides ({{entryList.length}})</a>
		</li>
		<!-- for via=='editor' -->

		<li ng-show="opp.via=='social'" class='data-tab pending-instagram-tab' ng-class="{'active':!showTab||showTab=='pending-instagram'}" ng-click="showTab='pending-instagram'">
			<a>Pending: Instagram</a>
		</li>
		<li ng-show="opp.via=='social'" class='data-tab pending-twitter-tab' ng-class="{'active':showTab=='pending-twitter'}" ng-click="showTab='pending-twitter'">
			<a>Pending: Twitter</a>
		</li>
		<li class='data-tab widget-tab' ng-click="showTab='widget'" ng-class="{'active':showTab=='widget'}" ng-click="showTab='widget'">
			<a>Widget</a>
		</li>
		<li ng-show="opp.via=='social'" class='data-tab accepted-tab' class='data-tab widget-tab' ng-click="showTab='accepted'" ng-class="{'active':showTab=='accepted'}" >
			<a><span class='tab-title'>Accepted</span> ({{entryList.length}})</a>
		</li>
		<li ng-show="opp.via=='social'" class='data-tab rejected-tab' ng-class="{'active':showTab=='rejected'}" ng-click="showTab='rejected'">
			<a>Rejected</a>
		</li>
	</ul>

	<!-- for via=='editor' -->
	<div ng-if="showTab=='slides'" class='tab-content entry-list-container slides'>
		<div class='row'>
			<button ng-click="addEntry()" class='btn-lg add-entry-btn btn btn-default'>+ New Slide</button>
		</div> <!-- row -->

		<div class='row' ng-repeat='e in entryList'>
			<div class='col-md-1 edit-entry-btn-container'>
				<button ng-click="deleteEntry(e)" class='btn-xs btn btn-default delete-entry-btn'>X</button>
			</div>
			<div class='widget-container col-md-5'>
				<opp-widget opp='opp' entry='e'></opp-widget>
			</div>
			<form name='entryForm' class='col-md-6 entry-form'>
				<label>Header *</label>
				<input ng-change="e.state='unsaved'" type="text" placeholder="HEADER" ng-model="e.header" />
				<label>Text *</label>
				<input ng-change="e.state='unsaved'" type="text" placeholder="text text text text ..." ng-model="e.text" />

				<label>Image/GIF URL *</label>
				<p>Square images optimal, with optimal dimensions 290x290px.  However you can use any image smaller than 400x400px</p>
				<input ng-change="e.state='unsaved'" type="url" placeholder="http://" ng-class="{'error':entryForm.$error.url}" ng-model="e.img_url" />

				<label>Photo credit</label>
				<input ng-change="e.state='unsaved'" type="text" ng-model="e.source" />

				<p>All saves go live within 10 minutes.</p>
				<div class='create-btn-container'>
					<button ng-disabled="!(e.header&&e.text&&e.img_url&&e.state=='unsaved')" ng-click="saveEntry(e)" class='btn btn-sm btn-default create-btn'>Save</button>
					<span class='entry-state' ng-show="e.state">{{e.state}}</span>
				</div>
			</form>
		</div> <!-- row -->
	</div>
	<!-- for via=='editor' -->

	<!-- for via=='social' -->
	<div ng-show="showTab=='pending-instagram'" class='tab-content entry-list-container pending-entries-instagram'>
		<div entry-list="pendingEntryListInstagram" class='row entry-container' ng-repeat="e in pendingEntryListInstagram"></div>
	</div>

	<div ng-show="showTab=='pending-twitter'" class='tab-content entry-list-container pending-entries-twitter'>
		<div entry-list="pendingEntryList" class='row entry-container' ng-repeat="e in pendingEntryList"></div>
	</div>

	<div ng-show="showTab=='widget'" class='tab-content widget-row'>
		<div class='row'>
			<div class='widget-container col-md-6'>
				<div class="huffpostlabs-opp" id="{{opp.id}}"></div>
				<script src="/widget/o.js"></script>
			</div>
			<div class='col-md-6'>

				<div class='info'>
					<span ng-show="opp.via=='social'">
						<p><strong>Entries Accepted: </strong>{{opp.entryList.length}}</p>
						<p><strong>Entries Rejected: </strong>{{opp.rejectEntryIDList.length}}</p>
					</span> <!-- opp.via=='social' -->

					<p><strong>Embed Code</strong></p>
					<pre class="embed-code">&lt;div class="huffpostlabs-opp" id="{{opp.id}}"&gt;&lt;/div&gt;&lt;script src="http://opp.huffingtonpost.com/widget/o.js"&gt;&lt;/script&gt;&lt;p id="labs-credit"&gt;&lt;a href="http://code.huffingtonpost.com"&gt;Product by &lt;img height="23px" src="http://quiz.huffingtonpost.com/img/huffpostLABS_outline.png" /&gt;&lt;/a&gt;&lt;/p&gt;</pre>
				</div>

				<form name="oppForm" class='opp-form'>
					<label>Share Title</label>
					<input placeholder="{{opp.widget_type}}: {{opp.title}}" type='text' ng-change="opp.state='unsaved'" ng-model="opp.share_title">
					<label>Share Caption</label>
					<input ng-change="opp.state='unsaved'" type='text' ng-model="opp.share_caption">
					<label>Share Link</label>
					<p>Put in a shortened URL of the page you embedded on so that when slides are shared to twitter, the tweet is not cut off</p>
					<!-- $error generated by angular form -->
					<input ng-change="opp.state='unsaved'" placeholder="http://" ng-class="{'error':oppForm.$error.url}" ng-model="opp.share_link" type="url">
					<button ng-disabled="!oppForm.$valid" ng-click="saveOPP()" class='btn btn-default btn-xs'>SAVE</button>
					<span class='opp-state' ng-show="opp.state">{{opp.state}}</span>
				</form>
			</div>
		</div>

	</div>

	<div ng-show="showTab=='accepted'" class='tab-content entry-list-container accepted-entries'>
		<div entry-list="entryList" class='row entry-container' ng-repeat="e in opp.entryList"></div>
	</div>

	<div ng-show="showTab=='rejected'" class='tab-content entry-list-container rejected-entries'>
		<div entry-list="rejectEntryList" class='row entry-container' ng-repeat="e in rejectEntryList"></div>
	</div>

	<div ng-show="opp.via=='social'" class='showing-entries'>
		<button ng-click="loadMoreEntries()" ng-show="moreEntries!=false&&!loadingMoreEntries" class='btn btn-sm btn-default'>Shore More</button>
		<img ng-show="loadingMoreEntries" class="loading-gif" src="/img/loading.gif">
	</div>


</div>



