/* Necessary SwipeJS styles */

.huffpostlabs-opp .swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
/* undo the above when editing */
.huffpostlabs-opp.edit .swipe {
  visibility: visible;
}
.huffpostlabs-opp .swipe-wrap {
  overflow: hidden;
  position: relative;
}
.huffpostlabs-opp .swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}


/* non-mobile version -- shrink with media queries */
.huffpostlabs-opp{
	margin: 10px auto;
	display: block;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	width: 316px;
}
.huffpostlabs-opp .opp-frame{
	display: inline-block;
	border: 3px solid gray;
	text-align: center;
	padding: 8px 10px;
	background-color: white;
}
.huffpostlabs-opp .slide-info {
	color: gray;
}
.huffpostlabs-opp .slide-info .title,
.huffpostlabs-opp .slide-info .slide-count {
	display: inline-block;
} 
.huffpostlabs-opp .slide-info .title{
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	width: 68%;
}
.huffpostlabs-opp .slide-info .slide-count {
	text-align: right;
	width: 12%;
}
.huffpostlabs-opp .slide-info .slide-change-arrow{
	display: inline;
	margin-top: 3px;
}
.huffpostlabs-opp .slide-info .slide-change-arrow.left {
	float: left;
}
.huffpostlabs-opp .slide-info .slide-change-arrow.right {
	float: right;
}

.huffpostlabs-opp .picture-frame{
	border: 2px solid gray;
}
.huffpostlabs-opp .picture{
	width: 290px;
	height: 290px;
	text-align: center;
}
.huffpostlabs-opp .picture img{
	max-width: 290px;
	display: inline-block;
}
.huffpostlabs-opp .picture-caption {
	width: 280px;
	padding: 4px;
	text-align: left;
}
.huffpostlabs-opp .picture-caption .entry-header,
.huffpostlabs-opp .picture-caption .entry-text {
	display: block;
	color: darkcyan;
	font-size: 14px;
}
.huffpostlabs-opp .picture-caption .entry-text {
	overflow-y: auto;
	overflow-x: hidden;
	height: 80px;
}
.huffpostlabs-opp.via-editor .picture-caption .entry-header,
.huffpostlabs-opp.via-social .picture-caption .entry-text {
	font-weight: bold;
}
.huffpostlabs-opp .share-container {
	color: gray;
	margin-top: 10px;
}
.huffpostlabs-opp .share-container p,
.huffpostlabs-opp .share-container .share{
	display: inline-block;
	vertical-align: middle;
}
.huffpostlabs-opp .share-container p {
	margin: 0;
}
.huffpostlabs-opp .share-container .share{
	cursor: pointer;
}
.huffpostlabs-opp .share-container .fb-share,
.huffpostlabs-opp .share-container .twitter-share,
.huffpostlabs-opp .share-container .email-share{
	background-color: gray;
}
.huffpostlabs-opp .share-container .share-btn-swap{
	display: none;
}
.huffpostlabs-opp.non-mobile .share-container .share:hover .share-btn-swap,
.huffpostlabs-opp.mobile .share-container .share.hover .share-btn-swap{
	display: inline-block;
}
.huffpostlabs-opp.non-mobile .share-container .share:hover .share-btn,
.huffpostlabs-opp.mobile .share-container .share.hover .share-btn{
	display: none;
}
.huffpostlabs-opp.mobile .share-container .share.hover .email-share-btn,
.huffpostlabs-opp.non-mobile .share-container .share:hover .email-share-btn{
	opacity: 0.8;
}

.huffpostlabs-opp .touch {
	cursor: pointer;
}.huffpostlabs-opp .touch:hover {
	opacity: 0.7;
}






/* labs credit at bottom of widgets */
p#labs-credit{
	text-align: right;
	padding-top: 7px;
}
p#labs-credit a{
	color: gray;
	font-style: italic;
	vertical-align: middle;
}