/*******************************************************************************
--------------------------------------------------------------------------------

	Author: Alexandra Berke (aberke)
	Written: May 2014

	css for just the widget
	- widget uses swipeJS library and need to incorporate those necessary styles
	- widget is responsive

--------------------------------------------------------------------------------
*********************************************************************************/




/* Necessary SwipeJS styles */

.huffpostlabs-opp .swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
/* undo the above when editing */
.huffpostlabs-opp.edit .swipe {
  visibility: visible;
}
.huffpostlabs-opp .swipe-wrap {
  overflow: hidden;
  position: relative;
}
.huffpostlabs-opp .swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}


.huffpostlabs-opp{
	max-width: 430px;
	margin: 10px auto;
	display: block;
	text-align: center; /*so that opp-frame floats in middle*/
}
.huffpostlabs-opp,
.huffpostlabs-opp.mobile,
.huffpostlabs-opp .opp-frame,
.huffpostlabs-opp.mobile .opp-frame p{
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.huffpostlabs-opp .opp-frame{
	display: inline-block;
	border: 3px solid gray;
	text-align: center;
	padding: 8px 10px;
	background-color: white;
	width: 100%;
}
.huffpostlabs-opp .slide-info {
	color: gray;
	padding: 0 0 10px 0;
}
.huffpostlabs-opp .opp-frame .slide-info p {
	display: inline-block;
	margin: 0;
} 
.huffpostlabs-opp .slide-info .title{
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	width: 64%;
}
.huffpostlabs-opp .slide-info .slide-count {
	text-align: right;
	width: 16%;
}
.huffpostlabs-opp.mobile .slide-info .slide-count {
	font-size: 11px;
}
.huffpostlabs-opp .slide-info .slide-change-icon{
	display: inline;
	margin-top: 3px;
}
.huffpostlabs-opp .slide-info .slide-change-icon.left {
	float: left;
}
.huffpostlabs-opp .slide-info .slide-change-icon.right {
	float: right;
}
.huffpostlabs-opp.poll .slide-info .slide-change-icon {
	margin-top: 3px;
	width: 15px;
}

.huffpostlabs-opp .picture-frame{
	border: 2px solid gray;
}
.huffpostlabs-opp .picture img {
	display: inline-block;
}
.huffpostlabs-opp .opp-frame .image-credit {
	margin: -19px 0 0 2px;
	background-color: black;
	color: white;
	position: absolute;
	text-align: left;
	padding: 0px 4px;
	opacity: 0;
	font-size: 12px;
}
.huffpostlabs-opp .opp-frame:hover .image-credit {
	opacity: 0.5;
}
.huffpostlabs-opp .picture-caption {
	width: auto;
	padding: 4px;
	text-align: left;
}
.huffpostlabs-opp .picture-caption .entry-header,
.huffpostlabs-opp .picture-caption .entry-text {
	display: block;
	color: darkcyan;
	font-size: 14px;
}
.huffpostlabs-opp .picture-caption .entry-text {
	overflow-y: auto;
	overflow-x: hidden;
	height: 80px;
}
.huffpostlabs-opp.via-editor .picture-caption .entry-header,
.huffpostlabs-opp.via-social .picture-caption .entry-text {
	font-weight: bold;
}
.huffpostlabs-opp .share-container {
	color: gray;
	margin-top: 10px;
}
.huffpostlabs-opp .share-container p,
.huffpostlabs-opp .share-container .share{
	display: inline-block;
	vertical-align: middle;
}
.huffpostlabs-opp .opp-frame .share-container p.share-text { /*need strong rule*/
	margin: 0;
}
.huffpostlabs-opp .share-container .share{
	cursor: pointer;
	height: 30px;
}
.huffpostlabs-opp .share-container .fb-share,
.huffpostlabs-opp .share-container .twitter-share,
.huffpostlabs-opp .share-container .email-share{
	background-color: gray;
}
.huffpostlabs-opp .share-container .share-btn-swap{
	display: none;
}
.huffpostlabs-opp.non-mobile .share-container .share:hover .share-btn-swap,
.huffpostlabs-opp.mobile .share-container .share.hover .share-btn-swap{
	display: inline-block;
}
.huffpostlabs-opp.non-mobile .share-container .share:hover .share-btn,
.huffpostlabs-opp.mobile .share-container .share.hover .share-btn{
	display: none;
}
.huffpostlabs-opp.mobile .share-container .share.hover .email-share-btn,
.huffpostlabs-opp.non-mobile .share-container .share:hover .email-share-btn{
	opacity: 0.8;
}

.huffpostlabs-opp .touch {
	cursor: pointer;
}.huffpostlabs-opp .touch:hover {
	opacity: 0.7;
}

.huffpostlabs-opp .mobile-instructions {
	position: absolute;
	z-index: 20;
	font-size: 20px;
	font-weight: bold;
	background-color: gray;
	color: white;
	padding: 30px;
	border-radius: 20px;
	text-align: center;
	margin-top: 30px;
	opacity: 0.9;
	/*changed by the javascript*/
	display: none; 
}


/* ---------------- poll --------------------------------- */
.huffpostlabs-opp .results-container {
	height: 385px;
	overflow-y: auto;
	overflow-x: hidden;
}
.huffpostlabs-opp .opp-frame.complete .results-container p.results-title {
	background-color: lightgrey;
	color: gray;
	padding: 10px;
	margin: 0;
}
.huffpostlabs-opp .results-container .result {
	width: 100%;
	border: 1px solid lightgrey;
	text-align: left;
}
.huffpostlabs-opp .result .result-image-container {
	width: 100px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.huffpostlabs-opp .result .result-image-container img{
	max-width: 100px;
	height: 100px;
	margin: auto;
}
.huffpostlabs-opp .result .result-text {
	display: inline-block;
	max-width: 140px;
	padding: 10px 0 10px 10px;
}
.huffpostlabs-opp .result .result-text p {
	margin: 5px 5px 15px 0;
}

/* ---------------- for when poll complete --------------- */

.huffpostlabs-opp .opp-frame.complete .slide-info {
	padding: 0 0 10px 3px;
	text-align: left;
}
.huffpostlabs-opp .opp-frame.complete .slide-info .refresh {
	float: right;
	margin: 5px 6px 0 0;
}

/************ For edit templates -- not dynamically sized by js *****/

.huffpostlabs-opp.edit .opp-frame{
	width: 290px;
}
.huffpostlabs-opp.edit .picture {
	height: 265px;
}
.huffpostlabs-opp.edit .picture img{
	max-width: 265px;
	display: inline-block;
}







/* labs credit at bottom of widgets */
p#labs-credit{
	text-align: right;
	padding-top: 7px;
}
p#labs-credit a{
	color: gray;
	font-style: italic;
	vertical-align: middle;
}